<div class="row">
  <div class="col-md-3" *ngFor="let File of files">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">{{File.name}}</h5>
        <p class="card-text">{{File.path}}</p>
        <p class="card-text">{{File.size}}</p>
<!--        routerLink="http://localhost:8080/api-pdf-handler/resources/pdf/view?name='+'{{File.name}}'"-->
        <a href="#" class="btn btn-primary">View</a>
        <a href="#" class="btn btn-primary">Split</a>
        <a href="#" class="btn btn-primary">Merge</a>
      </div>
    </div>
  </div>
</div>
